.content {
    position: relative;
    z-index: 3;
}

#background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8; 
    background-repeat: no-repeat;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(4px);
    z-index: 0;
}

#yes {
    display: inline-block;
    position: absolute;
    left: 35%;
    top: 40vh;
    -webkit-transition: all 0.3s ease-out;
}

#no {
    display: inline-block;
    position: absolute;
    left: 70%;
    top: 40vh;
    -webkit-transition: all 0.1s ease-out;
}

header h2 {
    font-family: 'Pacifico';
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

header h4 {
    font-family: 'Pacifico';
    text-align: center;
}

@media only screen and (max-width: 600px) {
    header h2 {
      font-family: 'Pacifico';
      font-size: 40px;
      text-align: center;
      margin-bottom: 30px;
    }
    header h4 {
      font-family: 'Pacifico';
      text-align: center;
      font-size: 30px;
      padding: 15px;
    }
    #no{
      position: absolute;
      display: inline-block;
      left: 7%; 
      top: 50vh;
      font-size: 10px;
      padding: 3px;
      -webkit-transition: all 0.1s ease-out;
    }
    #yes{
      position: absolute;
      display: inline-block;
      left: 58%; 
      top: 50vh;
      font-size: 10px;
      padding: 3px;
      -webkit-transition: all 0.3s ease-out;
    }
  }